body {
  font-family: sans-serif;
  margin: 0px;
}

#app {
  background-color: #E6D0A3;
  min-height: 100vh;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}
img {
  width: 100%;
  height: auto;
}
.offset {
  padding-top: 60px;
}
/*--- TEXT ---*/
p {
  color: #000000;
  margin: 0px;
}
a {
  color: #000000;
  text-decoration: none;
}
h1 {
  color: #000000;
}
h2 {
  font-size: 50px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
h1,
h2,
h3,
h4 {
  margin: 0px;
}

/*--- NAVIGATION ---*/
.header {
  justify-content: space-between;
  background-color: rgb(143, 181, 143);
  width: calc(100vw - 100px);
  padding: 10px 50px;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0px;
}
nav a {
  padding: 0px 25px;
}

/*-- Buttons ---*/
.btn {
  background-color: #34403a;
  padding: 10px 25px;
  color: #ffffff;
  display: block;
  width: 100%;
  max-width: 200px;
  text-align: center;
  cursor: pointer;
}

/*--- Home ---*/
.home .images {
  width: 100vw;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}
.welcome {
  text-transform: capitalize;
  padding: 10px 50px;
  background-color: #555555;
  color: #ffffff;
  font-weight: 100;
}
.intro {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
  z-index: -1;
  background-size: cover;
  background-position: center center;
}
.home .info {
  z-index: 10;
  text-align: center;
  color: #ffffff;
}
.home .info .btn {
  margin: 0 auto;
}
.home h2,
.home h4 {
  padding: 0px 0px 20px 0px;
}
.home h4 {
  max-width: 650px;
  text-align: center;
  font-weight: 200;
}
.home .intro .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.7;
  z-index: 1;
}

/*--- ALL PRODUCTS ----*/
.flex {
  display: flex;
}
.all-products {
  padding: 75px 10px;
}
.all-products h2 {
  color: #000000;
  text-align: center;
}
.all-products .flex {
  justify-content: space-between;
  flex-wrap: wrap;
  contain: content;
}

.all-products .product {
  width: 20vw;
  margin: 20px;
  text-transform: capitalize;
}

.all-products .product .image {
  display: flex;
  justify-content: center;
  border: 10px solid #34403a;
  height: 200px;
  contain: content;
}

.all-products .product .info {
  padding: 10px 0px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

/*--- SINGLE PROCUCT ---*/
.single-product .image {
  width: 50vw;
  display: flex;
  justify-content: center;
  margin: 50px;
  border: 10px solid #34403a;
  background-color: #34403a;
}
.single-product .image img {
  height: 500px;
  width: auto;
  max-width: 100%;
}
.single-product .info {
  width: 50vw;
  margin: 50px;
}
.single-product .info h3,
.single-product .info p {
  padding-bottom: 20px;
}
.single-product {
  padding: 100px 50px 50px 50px;
}

/*--- Auth Forms ---*/
.auth {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.form {
  flex-direction: column;
  width: 400px;
}
.form div {
  margin: 10px 0px;
  width: 100%;
  contain: content;
}
.form input {
  padding: 10px 10px;
  width: 100%;
}
.form label {
  font-weight: bold;
  font-size: 20px;
}
.form button {
  width: 100%;
  padding: 10px;
  background-color: #34403a;
  color: #ffffff;
  font-weight: bold;
}

/*--- Cart ---*/
.cart {
  width: 95vw;
  margin: 0 auto;
  overflow: scroll;
  padding-bottom: 50px;
  padding-top: 100px;
}
.cart .btn {
  margin-top: 10px;
}
.cart-item {
  padding: 25px 0px;
  border-bottom: 1px solid #000000;
  align-items: center;
}
.cart-item img {
  width: 200px;
  height: 100px;
  border: 1px solid;
}
.cart-item .info {
  width: 100%;
  padding-left: 20px;
}
.cart-item h4 {
  flex: 1;
  text-transform: capitalize;
  font-size: 20px;
  padding: 0px;
}
.cart-item .info div {
  justify-content: space-between;
  width: 100%;
  padding: 5px 0px;
  align-items: center;
}
.cart .empty h2 {
  text-align: center;
  margin-bottom: 10px;
}
.cart .empty .btn {
  margin: 0 auto;
}
.qty-btn {
  font-size: 30px;
  font-weight: bold;
  padding: 0px 20px 0px 0px;
  cursor: pointer;
}

/*--- Checkout ---*/
.checkout {
  width: 50vw;
  overflow: scroll;
  padding: 200px 0px;
  margin: 0 auto;
}
.checkout .btn {
  margin-top: 10px;
}
.checkout-item {
  padding: 25px 0px;
  border-bottom: 1px solid #000000;
  align-items: center;
}
.checkout-item h4,
.checkout-item p {
  flex: 1;
  text-transform: capitalize;
  font-size: 20px;
  padding: 0px;
}
.checkout h3 {
  padding-top: 25px;
}

/*--- Media Queries ---*/
@media screen and (max-width: 1200px) {
  .checkout.offset {
    width: 95vw;
    padding: 200px 10px;
  }
}

@media screen and (max-width: 855px) {
  .offset {
    padding-top: 100px;
  }
  .header {
    flex-direction: column;
  }
  .header h1 {
    padding-bottom: 10px;
  }
  nav a {
    padding: 0px 10px;
  }
}

@media screen and (max-width: 975px) {
  .all-products .product {
    width: 40vw;
  }
}

@media screen and (max-width: 700px) {
  .all-products .flex {
    flex-direction: column;
  }
  .all-products .product {
    width: 100%;
    margin: 10px 0px;
  }
  .cart-item {
    flex-direction: column;
  }
  .cart-item .info {
    padding: 0px;
  }
}
